extends layouts/main

block navbar 
  a.btn.btn-outline-primary(href="/logout", role="button") Sign out

block body
  .container
    .mb-3
      .card.border-0
        .card-body.d-flex.flex-column.align-items-center
          h5.card-title.fw-bold Your Balance  
          h6.card-text.fs-3.fw-bolder.text-info='$' + balance
          .row.py-2.shadow-sm.border.rounded-3.font-monospace(style="width: 70%;")
            .col.border-end.text-center
              h6 Income
              h4.card-text.fs-3.fw-bolder.text-success='$' + income
            .col.border-end.text-center
              h6 Expense
              h4.card-text.fs-3.fw-bolder.text-danger='$' + totalExpenses
    .mb-3.row
      select.form-select(aria-label="Default select example")
        option(selected) 類別
        option(value="飲食") 飲食
        option(value="服飾") 服飾
        option(value="交通") 交通
        option(value="住宿") 住宿
        option(value="教育") 教育
        option(value="娛樂") 娛樂
    .mb-3
      table.table.table-striped
        thead.table-dark
          tr
            th(scope="col") Type
            th(scope="col") Item
            th(scope="col") Date
            th(scope="col") Amount
            th(scope="col") Class
            th(scope="col") Edit
            th(scope="col") Remove
        tbody
          each record, i in records
            tr
              td: i(class=record.categoryId.icon) 
              td= record.item
              td= record.date
              td= record.amount
              td= record.class
              td: a(href="/edit/"+ record._id) 
                    i.fa-solid.fa-pen-to-square
              td: form(action="/remove/" + record._id + "?_method=DELETE", method="POST", style="display: inline;") 
                    button.delete-icon(type="submit")
                      i.fa-solid.fa-trash-can
    .d-flex.justify-content-center
      a.btn.btn-warning(href="/new" role="button") New Record